{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
        <h2>ჩვენ შესახებ</h2>
        <div class="container"><p>ჩვენი მისია: <br> გრძელვადიანი ხედვისა და მენტალიტეტის ჩამოყალიბების ხელშეწყობა, ბუნებრივი რესურსების ეფექტური გამოყენების პოლიტიკის დანერგვა და ამით ადამიანის უარყოფითი ზემოქმედების შემცირება ბუნებაზე, საზოგადოების გარემოსდაცვითი ცნობიერების ამაღლების და გადაწყვეტილებების მიღების პროცესში საზოგადოების ჩართულობის ხელშეწყობა, მდგრადი განვითარებისთვის გარემოსდაცვითი განათლების ხელშეწყობა.



<br><br><br>ჩვენი მიზნები: <br>მდგრადი განვითარების კონცეფციების დანერგვა, განახლებადი და სუფთა ენერგიის, როგორც ენერგიის ალტერნატიული წყაროს პოპულარიზაცია, საკანონმდებლო ბაზის გაუმჯობესების უზრუნველყოფა, სხვადასხვა დაცული ტერიტორიის შექმნაში მონაწილეობა, რაც მოიცავს ბიომრავალფეროვნების, ისტორიული და კულტურული მემკვიდრეობის შენარჩუნებას. გარემოსდაცვითი პრობლემების გადაწყვეტა საზოგადოების მონაწილეობით, ადგილობრივი მოსახლეობის ჩართვით და ადგილობრივი ადამიანური რესურსების გამოყენებით, მათი პროფესიული და პრაქტიკული შესაძლებლობის გათვალისწინებით, რაც ხელს უწყობს ეკოლოგიური გამოწვევების წარმატებით დაძლევის შესაძლებლობას. მოზარდების გარემოსდაცვითი განათლების დონის გაუმჯობესება და ცნობიერების ამაღლება, გარემოსდაცვითი უნარ-ჩვევების განვითარების ხელშეწყობა.</p>
    </div>
        </div>
{% endblock %}
