{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
        <h2>მახრჩობელები - Boidae</h2>
        <div class="container">
            <p>
მახრჩობელასებრნი, ცრუფეხანი (ლათ. Boidae) — ქვეწარმავალთა ოჯახი გველების რიგისა. მუცლის ფარები მთელ მუცელს არ უფარავს. ზოგ მახრჩობელასებრნს კბილები ყბათაშორის ძვალზეც აქვს. უკანა კიდურებისაგან შემორჩათ ბრჭყალისებრი გამონაზარდები, მცირე ზომის ბარძაყისა და მენჯის ძვლები. აქვთ 1 ან 2 ფილტვი, მეტად მძლავრი სხეულის მუსკულატურა. მახრჩობელასებრთა ოჯახი შეიცავს როგორც დიდ გველებს — სიგრძით 10 მ-მდე (ბადებრივი პითონი), ისე პატარა ფორმებს (0,5 მ-მდე). ოჯახში 23 გვარის 80 სახეობაა. გავრცელებული არიან ყველა კონტინენტის სუბტროპიკებსა და ტროპიკებში, აგრეთვე წყნარი ოკეანის კუნძულებზე. ბინადრობენ ამაზონის ჭაობიანი ტყეებიდან შუა აზიის უდაბნოებამდე. იკვებებიან სხვადასხვა ხერხემლიანებით. მსხვერპლს იჭერენ კბილებით, ეხვევიან სხეულის რგოლებით და ახრჩობენ (აქედანაა სახელწოდება). ცნობილია განსაკუთრებით მსხვილ ეგზემპლართა თავდასხმის შემთხვევები ადამიანზე. ბევრი მახრჩობელასებრნის ტყავი გამოიყენება სხვადასხვა ნაკეთობის დასამზადებლად, ხორცი საკვებად.

თავდაპირველად მახრჩობელათა ოჯახს 3 დიდ ქვეოჯახად ყოფდნენ: პითონები, მახრჩობელები და ბოლიერინი. ამჟამად პითონებსა და ბოლიერინს ცალკე ოჯახებად განიხილავენ, მახრჩობელათა ოჯახში კი აერთიანებენ 2 ქვეოჯახს - მახრჩობელები (ანუ ამერიკული მახრჩობელები, ნამდვილი ბოა, ნამდვილი მახრჩობელები) და ქვეოჯახი - Erycinae (მთხრელი ფორმები. 3 გვარი 15 სახეობით, მათგან ერთი, Eryx jaculus ანუ დასავლური მახრჩობელა, აღმოსავლეთ საქართველოშია გავრცელებული).
            </p>
        </div>
        </div>
{% endblock %}
