{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
        <h2>მცურავები - Colubridae</h2>
        <div class="container"><p>
            ქვეწარმავლების ოჯახი გველების ქვერიგისა. აერთიანებს თანამედროვე გველების 60 პროცენტზე მეტს. ოჯახი აერთიანებს 1700 სახეობას, რომლებიც ფართოდ არიან გავრცელებულნი მთელს პლანეტაზე პოლარული პოლუსებისა და ზოგიერთი კუნძულის გარდა. ოჯახი იყოფა 7 ან 8 ქვეოჯახად კბილების აღნაგობისა და საფარველის შეფერილობის მიხედვით.
        </p></div>
        </div>
{% endblock %}
