{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
        <h2>გველგესლასებრნი - Viperidae</h2>
        <div class="container">
            <p>
                გველგესლასებრნი (ლათ. Viperidae) — შხამიანი გველების ოჯახი. აქვთ მოკლე, მოძრავად
                შესახსრებული ზედა ყბის ძვალი და მის წინა კიდეზე ერთი ან ორი დიდი კბილი, რომელთა
                მილები შხამიან ჯირკვლებს უკავშირდება. უმრავლესობის თვალის გუგა ვერტიკალურია.
            </p>
        </div>
        </div>
    </div>
{% endblock %}
